FIWXDX_1008/FIWXDX_orarend2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Napok típusa -->
    <xs:simpleType name="napTipus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hétfő"/>
            <xs:enumeration value="kedd"/>
            <xs:enumeration value="szerda"/>
            <xs:enumeration value="csütörtök"/>
            <xs:enumeration value="péntek"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Óratípus -->
    <xs:simpleType name="oraTipus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="eloadas"/>
            <xs:enumeration value="gyakorlat"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Óra időpontja -->
    <xs:complexType name="idopontTipus">
        <xs:sequence>
            <xs:element name="nap" type="napTipus"/>
            <xs:element name="tol" type="xs:integer"/>
            <xs:element name="ig" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Egy óra típusa -->
    <xs:complexType name="oraTipusReszletes">
        <xs:sequence>
            <xs:element name="targy" type="xs:string"/>
            <xs:element name="idopont" type="idopontTipus"/>
            <xs:element name="helyszin" type="xs:string"/>
            <xs:element name="oktato" type="xs:string"/>
            <xs:element name="szak" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="tipus" type="oraTipus" use="required"/>
    </xs:complexType>

    <!-- Gyökérelem: órarend -->
    <xs:element name="orarend">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ora" type="oraTipusReszletes" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
